@import "tailwindcss";



@theme {
    --color-cinza: rgba(80, 80, 80, 1)
  }


body {
      background-color: rgb(208, 208, 208);
      justify-items: center;
      margin: 0;
}

@media (width < 80rem)  {
      body{
        background-color: black;
      }
}
